* {
  font-family: 'Lato', sans-serif;
}

#container {
  margin: auto;
}

a {
  color: #81D8D0;
  color: #09c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invisible {
  display: none;
}

header {
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  margin-bottom: 1em;
}

header h1 {
  display: inline-block;
  width: 1200px;
}

span {
  font-size: 0.33em;
  color: #ccc;
  font-weight: normal;
}

header #login_form {
  display: inline-block;
  vertical-align: top;
}

header #login_form label {
  width: 64px;
  display: inline-block;
}

#left, #map_canvas {
  display: inline-block;
  vertical-align: top;
}

#left {
  width: 390px;
  max-height: 650px;
  overflow-y: scroll;
  border: 1px solid black;
}

#map_canvas {
  height: 650px;
  width: 1020px;
  border: 1px solid black;
}

.task_icon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: 1px solid black;
}

#show_box {
  width: 390px;
  min-height: 390px;
}

#new_task_form label {
  width: 96px;
  display: inline-block;
}

select {
  width: 123px;
}

#default_task_box {
  object-fit: cover;
  font-size: 24em;
  height: 390px;
  width: 390px;
  background-color: #fff;
  color: #09c;
}

.task {
  cursor: pointer;
  display: block;
  border-top: 1px solid black;
}

.take_job, .available {
  background-color: #81D8CF;
  color: white;
  cursor: pointer;
}

.take_job, .job_taken {
  padding: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  vertical-align: top;
}

.job_taken, .unavailable {
  background-color: #FF7878;
  color: white;
}

#messages_box {
  border-top: 1px solid black;
}

.message_icon {
  width: 48px;
  height: 48px;
  object-fit: cover;
  float: inline-block;
  margin-right: 0.5em;
  vertical-align: top;
  border: 1px solid black;
}

#new_task_button {
  padding: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  background-color: #39e;
  color: white;
  cursor: pointer;
}

#profilepic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid black;
  margin-right: 0.5em;
}